@charset "EUC-KR";
body{
	font-size: 9pt
}
h1{
	color: #70b0b3;
}
#garden{
	background-image: url("../../images/background.gif");
	background-repeat: no-repeat;
	background-color: #a7cece;
	border: solid white 1px;
	margin: 20px;
	padding: 20px;
	padding-left: 100px;
	height: 80px;
	font-style: italic;
	/* 모서리를 굴려주는 속성이다. */
	border-radius: 20px;
	/* 문단 내용이 배경을 초과했을 때 자동으로 글자가 그 안에 들어가도록 해주는 역할이다. */
	overflow: auto;
}
#outer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/* 텍스트 오른쪽을 일자로 맞추기 */
	text-align: justify; /*왼쪽 오른쪽 맞춰주기*/
}